.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    /*Necessáio aplicar o position relative para que aconteça a animação abaixo. Isso por que estamos alterando a posição 'top' no 'quica' e essa posição é relativa*/
    position: relative;
    /*Aplicando o transition significa que a transição de antes para depois de passar o mouse durará 1s. Para ter maior controle, pode-se colocar tempos diferentes
    para cada propriedade, por exemplo: transform acontecerá em 1 seg e o box-shaow em 5segs. Outra propriedade que pode ser controlada é a velocidade 
    conforme vão acontecendo, pode-se aplicar uma suavização no início e no fim da transição utilizando: linear (velocidade linear em todo o processo), 
    ease-is (apenas no início), ease-out (apenas no final) e ease-in-out (no início e no fim)*/
    transition: transform 1s linear, box-shadow 2s ease-in;
    /*Pode-se controlar também o início das transições, podendo começar com um atraso. E podemos especificar quais a propriesdade que vão possuir o atraso.*/
    transition-delay: 1s, 0s;
    /*Aplicando a animação 'quica' que foi criada logo abaixo, e informando que deve acontecer de forma infinita*/
    animation: quica 1s infinite;
    /*Com a propriedade alternate o elemento irá de top 0 para top 1 e de top 1 para top 0, dando a sensação de que ele está quicando. Sem aplicar essa propriedade
    o elemento repetirá sempre de top 0 a top 1 e pula pra top 0, dando um efeito mais brusco*/
    animation-direction: alternate;
    /*Aplicando essa outra propriedade, o elemento terá uma suavização em sua animação na parte inicial (0%), dando um efeito que realmente o elemento está quicando*/
    animation-timing-function: ease-in;
}

/*Podemos criar animações que não dependem da iteração do usuário com o elemento. Para isso podemos fazer definiçoes com o CSS utilizando o '@'.
Podemos utilizar a propriedade 'keyframes' do CSS que permite especificar o que acontece a cada frame de animação. Neste caso especificaremos
o que acontece no primeiro frame 0% e no último 100%.*/
@keyframes quica {
    0% {
        top: 0;
    }
    100% {
        top: 1em;
    }
}


.citacao-bio:hover,
.citacao-bio:focus {
    cursor: pointer;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
    /*Aplicando essa propriedade, ela pausa o anamação 'quica'. Fazemos isso para evitar, quando desejado, que 2 animações ocorra ao mesmo tempo */
    animation-play-state: paused;
    /*Quando tiramos o mouse do elemento o efeito acontece ao contrário ao definido na classe .citacao-bio*/
    transition-delay: 0s, 1s;
}

.citacao-bio:active {
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);   
}


/*Utilização das pseudoclasses, substituindo so seletores de classes abaixo*/
.citacao-bio:nth-of-type(even) {
    float: right;
    margin-right: 0; 
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.5) rotate(5deg);
}

.citacao-bio:nth-of-type(odd) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.5) rotate(-5deg);
}

/*.petrobras {
    float: left;
    margin-left: 0;
}

.fiat {
    float: right;
    margin-right: 0;
}*/

/*Primeira letra do texto (exluindo as citações) com o dobro de tamanho do texto normal, mesma cor de findo do que o painel de navegação lateral e a 
fonte deve ser em negrito. Além disso com uma sombra preta elevemtente deslocada para direita e para baixo. 
Para melhorar o espaçamento ao redor da letra adicionar uma pequena margem a direita e diminuira altura da linha.*/
.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}


/*Colocar um quadrado vermelho antes da primeira letra do parágrafo dentro das citações. Obs: é necessário informar a propriedade 'content' se não nada é mostrado.*/
/*.citacao-bio > p::before {
    content: " ";
    background-color: red;
    width: 15px;
    height: 15px;
    margin-right: 1ch;
    display: inline-block;
}*/

.citacao-bio::before {
    content: '“';
    /*Elemento atrás do texto*/
    position: absolute;
    font-size: 10em;
    color: #BBB;
    /*Melhorar o posicionamento das aspas (mantendo no inicio do parágrafo)*/
    line-height: 0.8;
}

.citacao-bio > p {
    /*Serve para mandar o texto para frente*/
    position: relative;
}


/*Estilizando a tabela */
/*Celulas espaçadas em .25em a tabela deve estar afastada 1em acima e abaixodo resto do conteúdo*/
.tabela-habilidades {
    margin: 1em 0em;
    /*Para utilizar a propriedade spacing é necessário separar as bordas da tabela com a propriedade 'border-collapse: separete;'. Ou seja,
    o separete coloca bordas individuais em cada celula e assim pode-se aplicar o espaço entre as bordas*/
    border-collapse: separate;
    border-spacing: .25em;
}

.tabela-habilidades td,
.tabela-habilidades th {
    padding: 1em;
}

/*Nome das habilidades com fundo #851944 e texto branco negrito*/
.tabela-habilidades tbody tr :first-child  {
    background-color: #851944;
    color: #FFF;
    font-weight: bold;
}

/*Cabeçalho com cor #3C1D3D e o texto branco negrito*/
.tabela-habilidades thead th {
    background-color: #3C1D3D;
    color: #FFF;
    font-weight: bold;
}

/*Restante do conteudo da tabela com fundo #EEE e cor do texto igual da página*/
.tabela-habilidades tbody td ~ td  {
    background-color: #EEE;
    color: #000;/*#F2FFFC;*/
}

/*Centralizar o texto na tabela que possui rowspan*/
.tabela-habilidades td[rowspan] {
    /*Como utilizamos o rowspan a propriedade vertical-align consegue colocar o texto centralizado baseado no numero de rowspan*/
    vertical-align: middle;
}

/*Centralizar o texto quando possui colspan*/
.tabela-habilidades td[colspan] {
    text-align: center;
}