.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.citacao-bio:hover,
.citacao-bio:focus {
    cursor: pointer;
    /*box-shadow: 0px 0px 0px 999px rgba(0, 0, 0, 0.75);*/
}

.citacao-bio:active {
    box-shadow: 0px 0px 0px 999px rgba(0, 0, 0, 0.75);   
}


/*Utilização das pseudoclasses, substituindo so seletores de classes abaixo*/
.citacao-bio:nth-of-type(even) {
    float: right;
    margin-right: 0; 
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.5) rotate(5deg);
}

.citacao-bio:nth-of-type(odd) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.5) rotate(-5deg);
}

/*.petrobras {
    float: left;
    margin-left: 0;
}

.fiat {
    float: right;
    margin-right: 0;
}*/

/*Primeira letra do texto (exluindo as citações) com o dobro de tamanho do texto normal, mesma cor de findo do que o painel de navegação lateral e a 
fonte deve ser em negrito. Além disso com uma sombra preta elevemtente deslocada para direita e para baixo. 
Para melhorar o espaçamento ao redor da letra adicionar uma pequena margem a direita e diminuira altura da linha.*/
.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}


/*Colocar um quadrado vermelho antes da primeira letra do parágrafo dentro das citações. Obs: é necessário informar a propriedade 'content' se não nada é mostrado.*/
/*.citacao-bio > p::before {
    content: " ";
    background-color: red;
    width: 15px;
    height: 15px;
    margin-right: 1ch;
    display: inline-block;
}*/

.citacao-bio::before {
    content: '“';
    /*Elemento atrás do texto*/
    position: absolute;
    font-size: 10em;
    color: #BBB;
    /*Melhorar o posicionamento das aspas (mantendo no inicio do parágrafo)*/
    line-height: 0.8;
}

.citacao-bio > p {
    /*Serve para mandar o texto para frente*/
    position: relative;
}