/*As legendas dos grupos de campo e do campo "Mensagem" devem estar em negrito e espaçadas do grupo de campos anterior.*/
legend,
label[for="mensagem"] {
    font-weight: bold;
    margin-top: 1em;
}

/*Deixar os rótulos dos campos sempre em cima deles, exceto para os assuntos.*/
label[for] {
	display: block;
}

/* Os campos de texto devem ocupar a largura inteira da tela (exceto o campo para o assunto "Outro"), 
ter uma borda cinza clara, espaçamento interno e usar a mesma fonte do resto da página. */
input[type="text"],
input[type="email"],
textarea {
    /* Força o navegador a usar a mesma fonte da página */
    font-family: inherit;
    /* Inclusive o tamanho dela */
    font-size: 100%;
    padding: .25em .5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

/* alguns ajustes para o campo "Outro": deixar ele na mesma linha dos outros assuntos */
fieldset > fieldset {
	display: inline;
}

/* deixar o rótulo dele inline de novo */
label[for="outro"] {
	display: inline;
}

/* deixar só esse campo sem ocupar a tela toda */
input[name="outro-assunto"] {
    width: auto;
}

/*O campo de texto que tiver o foco do teclado deve ficar com o fundo levemente amarelo.*/
input:focus,
textarea:focus {
    background-color: #FFD;
}

/*Os campos que estiverem inválidos devem ter uma sombra vermelha. Utilizando a pseudoclasse :invalid*/
input:invalid {
    box-shadow: 0 0 3px red;
}


/*O botão para enviar o formulário deve ficar na parte inferior direita da página, após o formulário, 
e ter o mesmo esquema de cores da barra lateral com a fonte usada nos títulos 
e levemente maior do que o texto normal. Além disso, o botão não deve ter borda.*/
button {
    /* Precisamos tirar a borda que o navegador coloca por padrão */
    border: 0;
    padding: .5em 1em;
    font-family:  "Open Sans Condensed", sans-serif;
    background-color: #3C1D3D;
    color: white;
    font-size: 1.2em;
    /* Faz com que o botão apareça na direita */
 	margin-right: auto;
    margin-top: 1em;
}

/*Quando o botão for selecionado pelo teclado ou quando o mouse estiver sobre ele, o fundo deve mudar para a cor #8C1D3D.*/
button:hover,
button:focus {
	cursor: pointer;
    background-color: #8C1D3D;
}

/*Usando os seletores de atributo e de irmão, conseguimos selecionar o campo e escondê-lo com a propriedade display:*/
input[value="outro"] ~ input {
	display: none;
}

/*Quando esse radio for selecionado, a pseudoclasse será adicionada a ele. 
Usamos essa pseudoclasse para selecionar novamente o campo de texto ao lado e mudar o valor da propriedade display:*/
input[value="outro"]:checked ~ input {
	display: inline;
}


/*Realizar a inserção de um ícone nos inputs do formulário através de um pseudoelemento na tag label.*/
/*Como a label não possui posição definida e o pseudoelemento necessita de pegar a posição da label como referência, é necessário setar essa posição para relativa*/
label[for="nome-contato"] {
    position: relative;
}

label[for="nome-contato"]::after {
    /*Pega-se o pseudoelemento, posiciona-o relativo à label 100% para baixo dela, deixando-o em cima do input (também indica-se seu tamanho).*/
    /*Coloca o pseudoelemento com 100% de distância na parte superior ao elemento pai. Ou seja, o pseudoelemento ficará na parte inferior do elemento pai*/ 
    top: 100%;
    /*Garante que o pseudoelemento ficará sempre na parte da esquerda do seu pai*/
    left: 0;
    /*Necessário colocar para mostrar algo na tela*/
    content: "";
    /*Manter a posição referente ao pai*/
    position: absolute;
    /*Tamanho do pseudoelemento referente ao tamanho do input*/
    width: 2em;
    height: 2em;
    /*Referente à imagem de fundo*/
    background-image: url("../img/usuario.png");
    background-position: center;
    background-color: #666;
    background-repeat: no-repeat;
    /*Tamanho da imagem*/
    background-size: 50% 50%;
}

/*Como o pseudoelemento necessita de espaço, é necessário arredar o input para a direita para não ficar em cima do pseudoelemento*/
#nome-contato {
    /*Redução do tamanho a partir do pseudoelemento para caber no html*/
    width: calc(100% - 2em);
    /*Necessário para controlar o posicionamento do elemento dentro da página*/
    position: relative;
    /*Com a propriedade relativa setada, pode-se realizar os deslocamentos necessários no elemento*/
    left: 2em;
}


label[for="email-contato"] {
    position: relative;
}


label[for="email-contato"]::after {
    top: 100%;
    left: 0;
    content: "";
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: #F66;
    background-image: url("../img/email.png");
    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}


#email-contato {
    position: relative;
    width: calc(100% - 2em);
    left: 2em;
}