html {
	height: 100%;
	overflow-x: hidden;
}

body {
	perspective: 6px;
    perspective-origin: 50% 160px;
	background-color: #F2FFFC;
	font-family: "Crimson Text", serif;
	overflow-x: hidden;
}

main {
	width: 100%;
	padding-bottom: 0;
	float: none;
}

.palavras-home, .cabecalho-index {
    transform-style: preserve-3d;
}

.palavras-home {
    perspective: 6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.palavra-home {
	font-family: "Shadows Into Light", cursive;
	color: #D5447E;
	font-weight: bold; 
	position: absolute;
	font-size: 600%;
}

.siga-me {
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;

    font-size: 1.2em;
    font-family: "Open Sans Condensed", sans-serif;

    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(6.5754em, -2.4749em) rotate(45deg);

}

.eficiencia {
	font-size: 1000%;
    top: 50%;
    left: 60%;
    transform: translate(-20%, -50%) rotate(-5deg) translateZ(4px) scale(0.25);
}

.boas-praticas {
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(0.25);
}

.codigo-limpo {
    top: 45%;
    left: 25%;
    transform: translate(-10%, -50%) rotate(-10deg) translateZ(2px) scale(0.25);
}

.css3 {
    top: 55%;
    left: 35%;
    transform: translate(-70%, -50%) rotate(5deg) translateZ(2px) scale(0.25);
}

.html5 {
    top: 30%;
    left: 65%;
    transform: translate(-5%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
}

.javascript {
    top: 15%;
    left: 60%;
    transform: translate(-20%, -50%) rotate(-5deg) translateZ(1px) scale(0.25);
}

.acessibilidade {
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px) scale(0.25);
}

.responsivo {
    top: 40%;
    left: 40%;
    transform: translate(-80%, -50%) rotate(10deg) translateZ(3px) scale(0.25);
}

.otimizacoes {
    top: 70%;
    left: 65%;
    transform: translate(-20%, -50%) rotate(-5deg) translateZ(2px) scale(0.25);
}

.agilidade {
    top: 75%;
    left: 35%;
    transform: translate(-50%, -220%) rotate(5deg) translateZ(1px) scale(0.25);
}

.design {
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
}

.cabecalho-index {
	text-align: center;
	background-color: #851944;
	padding: 2em;
	border-bottom: 0.5em solid #000;
	position: relative;
}

.cabecalho-index__foto {
	height: 200px;
	margin-bottom: .5em;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 10% 50% / 50% 10%;
}

h2 {
	color: #FFF;
	font-size: 3em;
	text-shadow: 2px 2px #000;
	text-transform: uppercase;
}

.cabecalho-index h4 {
	font-size: 1.5em;
	color: #FFF;
}

.apresentacao-index {
	border-bottom: .5em solid #000;
	padding: 3rem;
}

.apresentacao-index p {
	font-size: 1.5em;
	color: #99A;
	line-height: 1;
	padding: 0em;
}

.apresentaca-index__inicio {
	font-size: 3em;
	color: #889;
}

.apresentacao-index__nome {
	font-size: 2em;
	color: #000;
}

.apresentacao-index__identacao {
	text-indent: 10em;
	display: block;
}

.apresentacao-index__italico {
	text-indent: 1em;
	display: inline-block;
	color: #851944;
	font-size: 4em;
	transform: skew(-30deg) rotate(-10deg);
}

.conteudo-pagina__conheca_mais {
	width: 40ch;
	margin: 5em auto 1em auto;
	background-color: #851944;
	border: .2em solid #000;
	text-align: center;
	font-size: 1.25em;
	display: block;
	padding: 0.5rem;
	color: #FFF;
}

.trabalhos-index {
	background-color: #3C1D3D;
	border-bottom: .5em solid #000;
	padding: 3em;
}

/**
* Overflow faz a barra de rolagem quando o elemento nao couber no elemento pai
*/
.trabalhos-index ul {
	margin-top: 3em;
	overflow: hidden;
	border: .5em solid #000;
}

.trabalhos-index li {
	float: left;
	width: 33.33%
}

.trabalhos-index img {
	width: 100%;
	display: block;
}

.blog-index {
	background-color: #999;
	padding: 3em;
	color: #FFF;
	border-bottom: .5em solid #000;
	position: relative;
}

.blog-index small {
	position: relative;
	top: -0.2em;
}

.blog-index ul {
	margin-top: 3em;
}

.blog-index li a {
	color: #FCF;
	padding: .5em;
	display: block;
}

.blog-index__post {
	background-color: #FFF;
	color: #000;
	position: absolute;
	top: 6em;
	right: 5em;
	left: 30%;
	padding: 1.5em;
	height: 8em;
}

.mais-recente {
	background-color: #F2FFFC;
}

.blog-index  .mais-recente a {
	color: #F26;
}

.blog-index li {
	width: 30%;
}

footer {
	background-color: #000;
	padding: 3em;
	color: #FFF;
	border-bottom: .5em solid #000;
}

footer h2 {
	text-transform: none;
}

footer p {
	margin-top: 3em;
}

footer a, span {
	color: #F99;
}