html {
	font-size: 120%;
}

body {
	background-color: #F2FFFC;
	font-family: "Crimson Text", serif;
}

main {
	width: 100%;
	padding-bottom: 0;
	float: none;
}

.palavra-home {
	font-family: "Shadows Into Light", cursive;
	color: #D5447E;
	font-weight: bold; 
	position: absolute;
}

.eficiencia {
    top: 20%;
    left: 75%;
}

.boas-praticas {
    top: 70%;
    left: 20%;
}

.codigo-limpo {
    top: 45%;
    left: 10%;
}

.css3 {
    top: 50%;
    left: 30%;
}

.html5 {
    top: 40%;
    left: 80%;
}

.javascript {
    top: 10%;
    left: 60%;
}

.acessibilidade {
    top: 30%;
    left: 25%;
}

.responsivo {
    top: 15%;
    left: 15%;
}

.otimizacoes {
    top: 60%;
    left: 70%;
}

.agilidade {
    top: 10%;
    left: 30%;
}

.design {
    top: 35%;
    left: 65%;
}

.cabecalho-index {
	text-align: center;
	background-color: #851944;
	padding: 2em;
	border-bottom: 0.5em solid #000;
	position: relative;
}

.cabecalho-index__foto {
	height: 200px;
	margin-bottom: .5em;
}

h2 {
	color: #FFF;
	font-size: 3em;
	text-shadow: 2px 2px #000;
	text-transform: uppercase;
}

.cabecalho-index h4 {
	font-size: 1.5em;
	color: #FFF;
}

.apresentacao-index {
	border-bottom: .5em solid #000;
	padding: 3rem;
}

.apresentacao-index p {
	font-size: 1.5em;
	color: #99A;
	line-height: 1;
	padding: 0em;
}

.apresentaca-index__inicio {
	font-size: 3em;
	color: #889;
}

.apresentacao-index__nome {
	font-size: 2em;
	color: #000;
}

.apresentacao-index__identacao {
	text-indent: 10em;
	display: block;
}

.apresentacao-index__italico {
	color: #851944;
	font-size: 4em;
}

.conteudo-pagina__conheca_mais {
	width: 40ch;
	margin: 5em auto 1em auto;
	background-color: #851944;
	border: .2em solid #000;
	text-align: center;
	font-size: 1.25em;
	display: block;
	padding: 0.5rem;
	color: #FFF;
}

.trabalhos-index {
	background-color: #3C1D3D;
	border-bottom: .5em solid #000;
	padding: 3em;
}

/**
* Overflow faz a barra de rolagem quando o elemento nao couber no elemento pai
*/
.trabalhos-index ul {
	margin-top: 3em;
	overflow: hidden;
	border: .5em solid #000;
}

.trabalhos-index li {
	float: left;
	width: 33.33%
}

.trabalhos-index img {
	width: 100%;
	display: block;
}

.blog-index {
	background-color: #999;
	padding: 3em;
	color: #FFF;
	border-bottom: .5em solid #000;
	position: relative;
}

.blog-index small {
	position: relative;
	top: -0.2em;
}

.blog-index ul {
	margin-top: 3em;
}

.blog-index li a {
	color: #FCF;
	padding: .5em;
	display: block;
}

.blog-index__post {
	background-color: #FFF;
	color: #000;
	position: absolute;
	top: 6em;
	right: 5em;
	left: 30%;
	padding: 1.5em;
	height: 8em;
}

.mais-recente {
	background-color: #F2FFFC;
}

.blog-index  .mais-recente a {
	color: #F26;
}

.blog-index li {
	width: 30%;
}

footer {
	background-color: #000;
	padding: 3em;
	color: #FFF;
	border-bottom: .5em solid #000;
}

footer h2 {
	text-transform: none;
}

footer p {
	margin-top: 3em;
}

footer a, span {
	color: #F99;
}