/**
line-height -> tamanho entre as linhas 
Floats seguidos formam uma linha
usa clear para evitar floats fazendo com que siga o fluxo do html
*/

/**
box-sizing: border-box -> calcula o tamanho do width a partir da borda e n do conteudo 
*/

/**
text-shadow --> utilizado para alementos texto
box-shadow ---> utilizado para elementos não texto
*/

body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    /** deslocamento da sombra para direita 5px e para baixo 5px e sua cor é preta #000 (esquerda e para cima usar valores negativos) */
    text-shadow: 5px 5px #000;
}

.titulo-principal {
    width: 100%;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}

/**
O gradiente não precisa ser apenas de duas cores, podemos acrescentar mais uma cor central, o cinza.
Podemos modificar o lugar em que ocorre a transição de cores. Queremos aqui que a mudança de vermelho para cinza ocorra a uns 80% da altura da imagem, de cima para baixo
*/
.titulo-principal {
    background-image: linear-gradient(to bottom, #F00, #888 80%, #000);
    /**
    Por padrão, o gradiente ocupa 100% do elemento. Mas, com o CSS3, podemos agora definir quanto do elemento o gradiente deve pegar
    Aqui ele terá 100% da largura do background e 200 pixeis de altura
    background-size : 100% 200px;

    O gradiente se repete automaticamente. Podemos desligar esse comportamento utilizando a propriedade background-repeat
    background-repeat: no-repeat;

    background-attachment, com o valor "fixed" dá aquele efeito de paralaxe na imagem ou na textura do background
    background-attachment: fixed;

    */
}

.subtitulo-texto {
    font-size: 1.5em;
    clear: both;
}

main a {
    color: #851944;
}

main p {
    text-align: justify;
    margin: 1em 0;
}

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

.navegacao-site h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.rodape-pagina {
    /** opacity é aplicado ao elemento pai todo. Para contornar esse problema utiliza-se apenas ao fundo com a propriedade rgba */
    /*background-color: rgba(0, 0, 0, .3);*/
    color: #F2FFFC;
    padding: 1em;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    
    /*O gradiente é radial, oval (elíptico) e centrado no canto inferior esquerdo do rodapé.
    A cor rgba(60, 29, 61, 0.8) vai do centro até aproximadamente 65% do tamanho total do gradiente, trocando em seguida imediatamente para preto.
    Essa cor preta fica por aproximadamente 5% do gradiente e depois desaparece, ou seja, é imediatamente substituída por uma cor transparente.
    Porém a elipse ocupará a largura inteira da página. 
    Para restringir o gradiente para apenas 25% de 100% da largura da página, definimos o tamanho e a repetição do fundo.*/
    background-image: radial-gradient(ellipse at left bottom,
    rgba(60, 29, 61, 0.8),
    rgba(60, 29, 61, 0.8) 65%,
    black 65%,
    black 70%,
    transparent 70%,
    transparent);
    width:100%;
    background-size: 25% 100%;
    background-repeat: no-repeat;
}

.container {
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.github {
    background-image: url(../img/github.png);
}

.twitter {
    background-image: url(../img/twitter.png);
}

.linkedin {
    background-image: url(../img/linkedin.png);
}

main {
    width: 80%;
    float: left;
    padding-bottom: 4em;
}

.minha-foto,
.navegacao-site {
    border-left: .5em solid black;
    border-bottom: .5em solid black;
    box-sizing: border-box;
}

.navegacao-site {
    width: 15%;
    float: right;
    position: relative;
    top: 300px;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    width: 320px;
}


/**
Position relative: mudar a posição do elemento de acordo com a posição original dele;
Position absolute: posicionar elementos na página independente do resto do contúdo (relativo à tela);
Position fixed: permite deixar qualquer elemento no lugar que quisermos na janela;
*/

/**
Vimos, então, três novas medidas:

rem: tem como padrão a fonte do navegador;
em: tem como padrão a fonte do elemento pai;
ch: tem como base a largura do caractere zero da fonte usada;
Vimos que a porcentagem tem como base ou a largura do elemento pai ou o font-size do elemento anterior.

Utilizando essas medidas conseguimos um CSS mais flexível, principalmente se quisermos manter um padrão de tamanho de fonte. 
Utilizando o font-size do HTML, é apenas ali que será necessário fazer alterações.
*/